.h{
    /* background: grey; */
    color: antiquewhite;
    position: relative;
    /* margin-left: 571px; */
    margin-top: 55px;
    text-align: center;
    padding: 5px;
    /* margin-right: 550px; */
    margin-bottom: 45px;
    /* border: 5px;
    border-color: antiquewhite; */
}
nav{
    margin-left: 920px;
    color: antiquewhite;
    margin-top: 10px;
    padding: 4px;
    /* background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}
body{
    background: rgb(44, 40, 40);
    background-image: url('bg10.jpg');
    background-size: 1530px;
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
    padding:4px;
    color: antiquewhite;
}
.bg{
    /* background-image: url('bg.jpg');
    background-repeat: no-repeat; */
    /* margin-left: 200px; */
}
*{
    margin: 0;
    padding: 0;
}
.social{
    margin-top: 580px;
    text-align: center;
}
img.social{
    padding: 25px;
}